{% extends 'mainapp/base.html' %}
{% load static %}

{% block main_menu %}
<div class="main-menu">
    <nav>
        <ul>
            <li><a href="/">HOME</a>
                <ul class="sub-menu">
                    <li><a href="index.html">Home One</a></li>
                    <li><a href="index-2.html">Home Two</a></li>
                    <li><a href="index-3.html">Home Three</a></li>
                    <li><a href="index-box.html">Home Box</a></li>
                </ul>
            </li>
            <li><a href="/shop/">SHOP</a>
                <ul class="sub-menu">
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                    <li><a href="single-product.html">Single Product</a></li>
                    <li><a href="single-product-left-sidebar.html">Single Product Left Sidebar</a></li>
                    <li><a href="single-product-right-sidebar.html">Single Product Right Sidebar</a></li>
                </ul>
            </li>
            <li><a href="#">PAGES</a>
                <ul class="sub-menu">
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="login-register.html">Login & Register</a></li>
                    <li><a href="my-account.html">My Account</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="404.html">404 Error</a></li>
                </ul>
            </li>
            <li><a href="blog.html">BLOG</a>
                <ul class="sub-menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="single-blog.html">Single Blog</a></li>
                </ul>
            </li>
            <li class="active"><a href="/contact/">CONTACT</a></li>
        </ul>
    </nav>
</div>
{% endblock main_menu %}

{% block content %}
<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url({% static 'images/hero/hero-1.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col">

                <h1>Contact us</h1>
                <ul class="page-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>

            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Page Section Start -->
<div class="page-section section section-padding">
    <div class="container">
        <div class="row row-30 mbn-40">

            <div class="contact-info-wrap col-md-6 col-12 mb-40">
                <h3>Get in Touch</h3>
                <p>Jadusona is the best theme for elit, sed do eiusmod tempor dolor sit ame tse ctetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam,</p>
                <ul class="contact-info">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <p>256, 1st AVE, You address <br>will be here</p>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <p><a href="#">+01 235 567 89</a><a href="#">+01 235 286 65</a></p>
                    </li>
                    <li>
                        <i class="fa fa-globe"></i>
                        <p><a href="#">info@example.com</a><a href="#">www.example.com</a></p>
                    </li>
                </ul>
            </div>

            <div class="contact-form-wrap col-md-6 col-12 mb-40">
                <h3>Leave a Message</h3>
                <form id="contact-form" action="{% static 'php/mail.php' %}">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-30"><input type="text" name="name" placeholder="Your Name">
                            </div>
                            <div class="col-lg-6 col-12 mb-30"><input type="email" name="email"
                                                                      placeholder="Email Address"></div>
                            <div class="col-12 mb-30"><textarea name="message" placeholder="Message"></textarea></div>
                            <div class="col-12"><input type="submit" value="send"></div>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>

        </div>
    </div>
</div><!-- Page Section End -->
{% endblock content %}
